@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="card mt-2 bg-light ">
        
        <div class="card-body bg-info shadow-lg">
            <h5 class="card-title">About</h5>
            <p class="card-text  text-white">Simple example for reading date column as DateOnly</p>
            <p class="card-text"></p>
        </div>
    </div>
</div>
